.row{
  display:block;
}
.element{
  display:inline-block;
  width:35px;
  height:35px;
  background-color: white;
  border:1px solid black;
  &.Wolf{
    background: url(../resources/icons/wolf.svg);
  }
  &.Sheep{
    background: url(../resources/icons/sheep.svg);
  }
  &.Fox{
    background: url(../resources/icons/fox.svg);
  }
  &.Turtle{
    background: url(../resources/icons/turtle.svg);
  }
  &.Antelope{
    background: url(../resources/icons/antelope.svg);
  }
  &.Guarana{
    background: url(../resources/icons/guarana.svg);
  }
  &.Grass{
    background: url(../resources/icons/grass.svg);
  }
}